* {
    box-sizing: border-box;
    line-height: 1;
}

html,
body {
    margin: 0;
    padding: 0;
    
    min-height: 100vh;
    
    background-color: $black100;
    
    scroll-behavior: smooth;
}