# Remove all development files
gallery/user/uploads/*
gallery/user/conf.yml
gallery/user/conf.json
gallery/static/theme/*

.idea
.vscode

venv/
.env

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/