.tag-icon
    margin: 0
    padding: 0.25rem 0.5rem


    display: flex
    align-items: center
    justify-content: center
    gap: 0.25rem

    font-size: 1rem
    font-weight: 500
    text-decoration: none

    border-radius: $rad-inner
    background-color: $primary
    color: $black
    border: none

    cursor: pointer

    svg
        width: 1.15rem
        height: 1.15rem