{% extends 'layout.html' %}
{% block nav_groups %}selected{% endblock %}
{% block content %}
    <div class="banner-small">
        <div class="banner-content">
            <h1 class="banner-header">{{ config.WEBSITE.name }}</h1>
            {% if groups|length == 0 %}
                <p class="banner-info">No groups!!!!</p>
            {% elif groups|length == 69 %}
                <p class="banner-info">{{ groups|length }} groups, uwu</p>
            {% else %}
                <p class="banner-info">{{ groups|length }} groups</p>
            {% endif %}
            {% if current_user.is_authenticated %}
                <div class="pill-row">
                    <div>
                        <button class="pill-item" onclick="groupShare()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path></svg>
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <form action="/api/group/create" method="post" enctype="multipart/form-data">
        <input class="input-block black" type="text" name="name" placeholder="name">
        <input class="input-block black" type="text" name="description" placeholder="description">
        <button class="btn-block black" type="submit">Submit</button>
    </form>

    {% if groups %}
        <div class="gallery-grid">
            {% for group in groups %}
                <a id="group-{{ group.id }}" class="group-item" href="{{ url_for('group.group', group_id=group.id) }}">
                    <div class="image-filter">
                        <p class="image-subtitle">By {{ group.author_username }}</p>
                        <p class="image-title">{{ group.name }}</p>
                    </div>
                    <div class="images size-{{ group.images|length }}">
                        {% if group.images|length > 0 %}
                            {% for image in group.images %}
                                <img data-src="{{ url_for('api.file', file_name=image.file_name) }}?r=thumb" onload="this.classList.add('loaded');" id="lazy-load" class="data-{{ loop.index }}"/>
                            {% endfor %}
                        {% else %}
                            <img src="{{ url_for('static', filename='error.png') }}" class="loaded"/>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="big-text">
            <h1>*crickets chirping*</h1>
            {% if current_user.is_authenticated %}
                <p>You can get started by creating a new image group!</p>
            {% else %}
                <p>Login to start seeing anything here!</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
