@import "wrappers/index"
@import "wrappers/image"
@import "wrappers/settings"
@import "wrappers/error"

.content
    width: calc(100% - 3.5rem)
    min-height: 100vh

    position: relative
    left: 3.5rem

@media (max-width: $breakpoint)
    .content
        width: 100%
        left: 0
