@keyframes sniffle {
    0% {
        left: -450px;
    }
    100% {
        left: 0;
    }
}

.sniffle {
    margin: 0;
    padding: 0;

    width: 450px;
    height: auto;

    position: fixed;
    top: 0.3rem;
    right: 0.3rem;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    z-index: 6969;
}
.sniffle__notification {
    margin: 0;
    padding: 0;

    width: 450px;
    height: auto;

    display: flex;
    flex-direction: row;

    position: relative;

    background-color: $black200;
    border-radius: $rad;
    color: $white100;

    box-sizing: border-box;
    overflow: hidden;

    transition: all 0.5s ease-in-out;
}
.sniffle__notification-icon {
    margin: 0;
    padding: 1rem;

    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $black300;

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}
.sniffle__notification-text {
    margin: 0;
    padding: 1rem;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;

    font-family: $font-body;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-align: left;
}
.sniffle__notification-time {
    margin: 0;
    padding: 0;

    width: 450px;
    height: 3px;

    position: absolute;
    bottom: 0px;
    left: 0px;

    background-color: $white100;

    animation: sniffle 2.5s linear;
}
.sniffle__notification--success {
    color: $green;

    .sniffle__notification-time {
        background-color: $green;
    }
}
.sniffle__notification--error {
    color: $red;

    .sniffle__notification-time {
        background-color: $red;
    }
}
.sniffle__notification--warning {
    color: $yellow;

    .sniffle__notification-time {
        background-color: $yellow;
    }
}
.sniffle__notification--info {
    color: $blue;

    .sniffle__notification-time {
        background-color: $blue;
    }
}