{% extends 'layout.html' %}

{% block nav_home %}navigation-item__selected{% endblock %}
{% block wrapper_class %}index-wrapper{% endblock %}

{% block content %}
    <div class="gallery">
        {% for image in images %}
            <a id="image-{{ image['id'] }}" class="gallery__item" href="/image/{{ image['id'] }}">
                <span class="gallery__item-info">
                    <p>{{ image['id'] }}</p>
                    <h2>{{ image['created_at'] }}</h2>
                </span>
                <img
                    class="gallery__item-image"
                    src="/api/uploads/{{ image['file_name'] }}/400"
                    onload="imgFade(this)"
                    style="opacity:0;"
                    loading="lazy"
                />
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const src = urlParams.get('src');

        if (src) {
            var imgOffset = document.getElementById('image-' + src).offsetTop;
            var imgHeight = document.getElementById('image-' + src).offsetHeight;
            var windowHeight = window.innerHeight;
            
            document.querySelector('html').style.scrollBehavior = 'auto';
            window.scrollTo(0, imgOffset + (imgHeight / 2) - (windowHeight / 2));
            document.querySelector('html').style.scrollBehavior = 'smooth';
        }
    </script>
{% endblock %}