.pill-row
    margin: 0
    padding: 0

    width: 100%
    height: auto

    display: flex
    justify-content: center
    align-items: center
    gap: 0.5rem

    > div
        margin: 0
        padding: 0

        display: flex

        background-color: var(--background-200)
        border-radius: var(--rad)

.pill-text
    margin: 0
    padding: 0.5rem 1rem

    width: auto
    height: 2.5rem

    display: flex
    justify-content: center
    align-items: center

    position: relative

    text-align: center
    font-size: 1rem
    font-weight: 400

    background-color: var(--background-200)
    color: var(--foreground-white)
    border-radius: var(--rad)

.pill-item
    margin: 0
    padding: 0.5rem

    width: 2.5rem
    height: 2.5rem

    display: flex
    justify-content: center
    align-items: center

    position: relative

    text-decoration: none

    border: none
    background-color: transparent
    color: var(--foreground-white)

    i
        font-size: 1.25rem

    &:hover
        cursor: pointer
        color: var(--primary)

    &:disabled, &[disabled], &.disabled
        color: var(--foreground-gray)
        cursor: default

.pill__critical
    color: var(--danger)

    span
        background: var(--danger)
        color: var(--foreground-white)

        i
            color: var(--danger)

    &:hover
        color: var(--foreground-white)

.pill__info
    color: var(--info)

    span
        color: var(--info)

    &:hover
        color: var(--foreground-white)

@media (max-width: var(--breakpoint))
    .tool-tip
        display: none