{% extends 'layout.html' %}

{% block nav_settings %}selected{% endblock %}
{% block content %}
    <div class="banner-small">
        <div class="banner-content">
            <h1 class="banner-header">Settings</h1>
            <p class="banner-info">{% block banner_subtitle%}{% endblock %}</p>
            <div class="pill-row">
                <div>
                    <a class="pill-item pill__critical" href="{{ url_for( 'auth.logout' ) }}"><i class="ph ph-sign-out"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-content">
        <h1>Gwa Gwa</h1>
    </div>

    <form method="POST" action="{{ url_for('api.user_picture', user_id=current_user.id) }}" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <form method="POST" action="{{ url_for('api.user_username', user_id=current_user.id) }}" enctype="multipart/form-data">
        <input type="text" name="name">
        <input type="submit" value="Upload">
    </form>
{% endblock %}